// This is the file Frappe compiles
@import "variables";
@import "layout";
@import "components";
@import "login";

// Global smoothing tweaks
body {
    font-family: $font-family !important;
    background-color: var(--bg-color) !important;
    -webkit-font-smoothing: antialiased;
}

// Clean up standard Frappe borders
.page-head {
    border-bottom: 1px solid var(--border-color) !important;
}